# Default ignored files
/shelf/
/workspace.xml

.idea/*
!.idea/codeStyleSettings.xml
!.idea/codeStyles
!.idea/externalDependencies.xml

target

device.log
src/main/java/com/jpage4500/devicemanager/Build.java